async-generator
attrs
certifi
cffi
charset-normalizer
colored
cryptography
h11
idna
outcome
pycparser
pyOpenSSL
PySocks
python-dotenv
requests
selenium
sniffio
sortedcontainers
trio
trio-websocket
urllib3
webdriver-manager
wsproto
